

<div class="container">
  <div class="clearfix text-center">
    <h1>FEATURES</h1>
    <p>RTVC 2.0 has tons of features already built for basic usage, however in case of commercial deployment or using for large scale please contact our team for more details. <br>
    <b>*Pricing is for BASIC PLAN</b></p>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"># </th>
        <th scope="col">Feauteres</th>
        <th scope="col">BASIC</th>
        <th scope="col">Commercial</th>
        <th scope="col">ENTERPRISE</th>
        <th scope="col">PRICING<small> / module</small></th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <td>1</td>
        <th>Audio Video P2P</th>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> 500$ <small>base Price</small></th>
      </tr> 
      <tr class="table-info">
        <td>1</td>
        <th>Audio Video 1-*<small>( Many )</small></th>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> 400$ <small>base Price</small></th>
      </tr> 
      <tr class="table-warning">
        <td>2</td>
        <th>Audio/Video Recording</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> +300$ <small> additional</small></th>
      </tr>
      <tr class="table-warning">
        <td>3</td>
        <th>Screen Sharing</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> +250$ <small> additional</small></th>
      </tr>
      <tr class="table-warning">
        <td>3-x</td>
        <th>File Sharing</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> +150$ <small> additional</small></th>
      </tr>
      <tr class="table-danger">
        <td>4</td>
        <th>Chat Features</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-success"> INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> +200$ <small> additional</small></th>
      </tr>
      
      
      <tr class="table-danger">
        <td>5</td>
        <th>Call Controls</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <td class="text-success">INCLUDED</td>
        <th> +150$ <small> additional</small></th>
      </tr>
      <tr class="table-danger">
        <td>6</td>
        <th>Speech to Text Feature</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-danger">NOT INCLUDED</td>
          <td class="text-success">INCLUDED</td>
        <th> +150$ <small> additional</small></th>
      </tr>
      <tr class="table-danger">
        <td>6</td>
        <th>Face Filters</th>
        <td class="text-danger"></td>
        <td class="text-info">Under Development</td>
          <td class="text-success"></td>
        <th> +150$ <small> additional</small></th>
      </tr>
      <tr class="table-danger">
        <td>7</td>
        <th>Voice Mailbox</th>
        <td class="text-danger">NOT INCLUDED</td>
        <td class="text-danger">NOT INCLUDED</td>
          <td class="text-success">INCLUDED</td>
        <th> +400$ <small> additional</small></th>
      </tr>
      <tr class="table-danger">
          <td>8</td>
          <th>Hand Raise Feature</th>
          <td class="text-danger"></td>
          <td class="text-info">Under Development</td>
          <td class="text-success"></td>
          <th> +400$ <small> additional</small></th>
        </tr>
    </tbody>
  </table> 
</div>
<hr class="clearfix">
<div  class="container text-center">
<h1> Enterprise RTVC Development</h1>
</div>