

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">ATRIX RTVC 2.0!</h1>
    <p class="lead">RTVC 2.0 ( Real Time Virtual Classroom) enable users to provide interactive audio, video calling or screen sharing experience for customers with excellance..</p>
    <hr class="my-4">
    <p>It uses RTCMulticonnection.js and Signaling.js to handle webRTC signaling. With RTVC you can build any sort of audio calling, video calling, webinar, live hosting or screen sharing web application :) </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/features">Learn more</a>
      <a class="btn btn-success btn-lg" routerLink="/demo" role="button" >DEMO</a>
    </p>
  </div>
</div>

<div class="container clearfix">
  <div class="row text-center">
    <div class="col-md-12 text-center">
    <img src="./assets/webrtc.png" class="img-fluid" alt="">  
  </div>
 <div> <h1>  <small><b>R</b>eal <b>T</b>ime <b>V</b>irtual <b>C</b>lassroom</small></h1>
    <p>RTVC is a powerful tool that serve as seed project for developing 1 to 1 or 1 to many audio video calling over the internet without 
      use of any external API. <br> Creating your very own video calling web application or integrating RTVC into your project for your users to interact better over video calling or providing your customers to contact you via voice call or video call 
      and let them interact with latest technology in built in your applicaiton. 
      </p>  </div>
</div>
<div class="text-center"><button class="btn btn-success btn-lg" routerLink="/about">Contact us for webRTC project Consultancy!</button></div>

<hr>
<h1 class="text-center">History</h1>
<!-- <img src="./assets/webrtc2.jpg" class="img-fluid" alt="">   -->

<p> RTVC 1.0 was created in <b>June, 2017</b> for support of AngularJS 1.5.x and its serve as a first wrapper for videoc calling by providing direct directive and service functions 
to be used for building webRTC apps using AngularJS however this project totally depends upon RTCMulticonnection v3, 
special Thanks to <b> Muaz Khan</b></p>
<p> RTVC 2.0 beta was launched in January 2018 <b> Created by: <strong>Moeid Saleem Khan</strong>, <strong>Atrix Digital Solutions.</strong></b>
</p>

<img src="" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt="">
 <div class="row">
    <div class="col-md-5 text-center">
        <img src="./assets/logo.png" class="img-fluid" alt="" style="border-radius:360px">  
        <span class=" lead" style="font-style:normal;font-size:30px;">Atrix Digital Solutions </span>
        <div class="clearfix small"><a href="https://atrixdigital.com"><i class="fa fa-globe"></i> www.atrixdigital.com</a></div>
        <div class="clearfix small"><i class="fa fa-envelope"></i> info@atrixdigital.com</div>
    
    </div>
<div class="col-md-2 text-center" style="font-size:250px;">+</div> 
 <div class="col-md-5 text-center">
    <img src="./assets/moeid.jpg" class="img-fluid" alt="" style="border-radius:360px">  
    <span class=" lead" style="font-style:normal;font-size:30px;">Moeid Saleem khan </span>
    <div class="clearfix small"><i class="fa fa-phone"></i> +92333-1950-718</div>
    <div class="clearfix small"><i class="fa fa-envelope"></i> moeidsaleem@gmail.com</div>
    <div class="clearfix small"><a href="https://linkedin.com/in/moeidsaleem"><i class="fa fa-linkedin"></i> https://linkedin/in/moeidsaleem</a></div>

</div>
