
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Contact us</h1>
        <p class="lead">Feel free to contact our team and get free quotation for your project!</p>
        <hr class="my-2">
        <p>Contact us via Whatsapp or Phone at the following contact information or Email us :)
        </p>
        <p class="lead">
          <!-- <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a> -->
        </p>
        <div class="row">
          <div class="col-md-3 text-center">
          <div >  <i class="fa fa-whatsapp" style="font-size:90px"></i> </div>
          <div>+ 923333-1950718</div>
          </div>
          <div class="col-md-3 text-center">
              <div >  <i class="fa fa-envelope" style="font-size:90px"></i> </div>
              <div>info@atrixdigital.com</div>
              </div>
              <div class="col-md-3 text-center">
                  <div >  <i class="fa fa-phone" style="font-size:90px"></i> </div>
                  <div>+ 923333-1950718</div>
                  </div>
        </div>

      </div>
    </div>



