<!-- Adding the controls from demo -->


<div class="container text-center">
    <h1>Call Operator</h1>
    

    <p>This is a simple two way calling where once the call is ended, audio blob will be generated which will then 
      be converted to .mp3 then sent for speech to text and trascription will be generated which will then be handled by 
      natural learning algorithm and sentiment analysis for generating complete result.
    </p>
  
    <div class="row">
        <div class="col-md-4">
        <img src="./assets/operator1.jpg" style="width:120px;border-radius:120px;border:solid;border-color:black" (click)="roomId = 'operator1'">
        <h6>Operator 1 </h6>
       </div>
       <div class="col-md-4">
           <img src="./assets/operator2.png" style="width:120px;border-radius:120px;border:solid;border-color:black" (click)="roomId = 'operator2'">
           <h6>Operator 2</h6>
          </div>
          <div class="col-md-4">
             <img src="./assets/operator3.jpg"  style="width:120px;border-radius:120px;border:solid;border-color:black" (click)="roomId = 'operator3'">
             <h6>Operator 3 </h6>
            </div>
      </div>
      <div class="container" *ngIf="!started">
      <h5 >OPERATOR ID</h5>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" [(ngModel)]="roomId" aria-describedby="helpId" placeholder="Edit Room ID">
        <small id="helpId" class="form-text text-muted">Enter a unique ID </small>
      </div>
      <code>{{roomId}}</code>
    </div>



<div class=" text-center" style="text-align:center" *ngIf="!started">
    <button type="button" class="btn btn-success" btn-lg btn-block  (click)="openRoom()">START AUDIO BROADCAST</button>
   </div> 
   <span class="text-success" *ngIf="started">Session has been started. Please share this link with others to join your broadcast & see you live in action!<br>
    <a href="{{url}}/{{roomId}}" target="_blank">{{url}}/{{roomId}}</a>
      <!-- <button type="button" class="btn btn-info" btn-lg btn-block  (click)="goJoin()" >JOIN</button> -->

   </span>
   <br>


   <div class="row text-center" *ngIf="started">
      <div class="col-md-12">
      <h2>LOCAL</h2>
              <div #local id="local"></div>
      </div>
     
      <!-- <div class="col-md-6">
      <h2>REMOTE</h2>
              <div #remote id="remote"></div>
      </div> -->
  </div>
  <div class="row text-center" *ngIf="started">
    <div class="col-md-12">
      <button (click)="stopRoom()" class="btn btn-danger text-center">STOP</button>
    </div>

    </div>

</div>






<!-- Ending of demo -->

<div class="row text-center">
  <div class="col-md-12">
    <h5>PlayBack</h5>
    <video #video class="video"></video>
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-primary dropx btn-lg" *ngIf="completed">Process Recording</button>
  </div>
</div>
<div class="row">
  <!-- <div class="col-md-12">
    <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
    <button md-raised-button color="primary"(click) ="stopRecording()"> Stop</button>
    <button md-raised-button color="primary" (click)="download()"> Download</button>
  </div> -->
</div>
