.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  height: 30px;
  max-height: 800px;
  width: 100%;
  padding:30px;
}
.dropx{
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);

}

.row {
  margin-bottom: 20px;
}
